<!DOCTYPE html>
<html lang="ja">
<th:block th:replace="~{fragment/head :: head(新規登録)}"/>
<body class="flex flex-col min-h-screen">
<th:block th:replace="~{fragment/header :: header}"/>
<main class="flex flex-col items-center mt-10 flex-grow">
    <h2 class="text-center sm:text-3xl text-2xl font-medium">新規登録</h2>
    <!--TODO: Figmaではエラーメッセージの表示がなかったけどあってもいいかも？-->
    <!--エラーメッセージの表示-->
    <!--<div th:if="${param.error}" class="error-message">-->
    <!--    メールアドレス、またはパスワードが違います-->
    <!--</div>-->
    <form th:action="@{/register}" th:object="${registerForm}" method="post" class="w-full sm:max-w-lg max-w-xs">
        <div class="my-10">
            <label for="mail" class="block sm:text-base text-sp-default sm:my-1 my-0.5 text-sm">メールアドレス</label>
            <input th:field="*{mailAddress}" id="mail" type="email" required class="w-full input"/>
        </div>
        <div class="my-10">
            <label for="password" class="block sm:text-base text-sp-default sm:my-1 my-0.5 text-sm">パスワード</label>
            <input th:field="*{password}" id="password" type="password" required class="w-full input"/>
        </div>
        <div class="mb-10 mt-10">
            <label for="rePassword" class="block sm:text-base text-sp-default sm:my-1 my-0.5 text-sm">パスワード(確認)</label>
            <input th:field="*{rePassword}" id="rePassword" type="password" required class="w-full input"/>
        </div>
        <div class="flex items-center justify-center">
            <button type="submit" class="button-primary" style="max-width: 7.375rem">新規登録</button>
        </div>
    </form>
</main>

<th:block th:replace="~{fragment/footer :: footer}"/>
<th:block th:replace="~{fragment/script :: header}"/>
</body>
</html>
