<!DOCTYPE html>
<html lang="ja">
<th:block th:replace="~{fragment/head :: head(アカウント編集)}"/>
<body class="flex flex-col min-h-screen">
<th:block th:replace="~{fragment/header :: header}"/>
<main class="flex flex-col items-center mt-10 flex-grow">
    <h2 class="text-center sm:text-3xl text-2xl font-medium mb-4">アカウント編集</h2>
<!--    メールアドレスのフォーム-->
    <div class="my-12 max-w-3xl w-3/4 sm:h-36 h-56 rounded-lg border-2 border-frame p-6 sm:flex sm:justify-between">
        <div class="text-center sm:text-left">
            <p class="text-xl mb-6">現在のメールアドレス</p>
            <span class="text-base" th:text="${mailAddress}"></span>
        </div>
        <div class="mx-auto sm:mr-0 w-56 flex justify-center sm:justify-end">
            <button type="button" class="mt-10 button-secondary min-w-fit h-12" onclick="window.location.href='/user/edit/mail'">
                メールアドレスを変更する
            </button>
        </div>
    </div>
<!--    パスワードのフォーム-->
    <div class="my-12 max-w-3xl w-3/4 sm:h-36 h-56 rounded-lg border-2 border-frame p-6 sm:flex sm:justify-between">
        <div class="text-center sm:text-left">
            <p class="text-xl mb-6">パスワード</p>
            <span class="text-base">*************</span>
        </div>
        <div class="mx-auto sm:mr-0 w-56 flex justify-center sm:justify-end">
            <button type="button" class="mt-10 button-secondary min-w-fit h-12" onclick="window.location.href='/user/edit/password'">
                パスワードを変更する
            </button>
        </div>
    </div>

</main>
<th:block th:replace="~{fragment/footer :: footer}"/>
<th:block th:replace="~{fragment/script :: header}"/>
</body>
</html>